table {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:12px;
        text-align: right;
        width: 600px;
        border: 1px solid #558FA6;
      }

      table th {
        padding: 5px;
        font-size: 16px;
        background-color: #83aec0; 
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-right-style: solid;
        border-bottom-style: solid;
        border-right-color: #558FA6;
        border-bottom-color: #558FA6;
        font-family: “Trebuchet MS”, Arial;
        text-transform: uppercase;
        text-align: center;
      }

      table td {
        padding: 5px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-right-style: solid;
        border-bottom-style: solid;
        border-right-color: #A4C4D0;
        border-bottom-color: #A4C4D0;
        text-align:center;
      }

      table select,table tfoot button{
        width: 100%;
      }