label.titulo{display: block; width: 100%; text-align: center;}
.filtros {padding:   0px;}
.filtros .panel-body{padding: 0px;}
.box.box-primary.personalizado {-webkit-border-radius: 0px 0px 3px 3px; -moz-border-radius: 0px 0px 3px 3px;border-radius: 0px 0px 3px 3px;}
.botones i{display: block; text-align: center; width: 50px; margin: 10px auto; border-radius: 23px; padding: 15px;}
ul.nav-tabs {border-bottom: none;}
form[name=fltro_envios_ofsc] .btn-group.col-xxs-12{padding: 0px;}
td, th {text-align: center;}
.panel-heading.box{margin-bottom: 0px;}
.box.personalizado {margin-bottom: 0px;}
span.envio-masivo.enviado{background: #008d4c;padding: 2px;text-align: center;width: 100%;display: block;color: #fff;}
.contenedor-botones-flotantes { z-index: 666;   position: fixed; bottom: 5px;  padding: 10px; width: 100%; height: 50px;}
.contenedor-derecho {   margin-bottom: 0px; background: rgba(14, 14, 14, 0.13); right: 15px;  height: inherit;  width: auto;   position: inherit; bottom: 5px;  padding: 10px;}
.contenedor-izquierdo { display: none;  max-width: 500px; width: auto; position: inherit; bottom: 5px; left: 15px; padding: 0px; height: inherit;}
.btn-ejecutar-masivo{display: none; margin: 0px auto; margin-left: 15px;}
span.cont_checkbox{display: none;}
span.checkbox_fila{display: none;  vertical-align: middle;}
span.txt_id {display: inline-block; vertical-align: middle;}
tr.fila-activa-masivo {}
#accordion-resultados .panel-heading{padding: 0px;}
#collapseThree { margin-top: -300px; min-height: 250px; border-radius: 5px; border-color: rgba(0, 0, 0, 0.117647);  border-style: solid; background: rgb(255, 255, 255); z-index: 6666; position: fixed;}
#collapseThree .panel-body{  max-width: 500px;}